.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 250px;
  height: 100vh;

  background: #1f2937;
  color: white;
  padding: 20px;
}
.logo {
  margin-bottom: 30px;
}

nav {
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
}

a:hover {
  background: rgba(255,255,255,0.1);
}