.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 250px;
  height: 100vh;

  box-sizing: border-box;

  background: #111827;
  color: white;

  display: flex;
  flex-direction: column;

  padding: 20px;

  border-right: 1px solid rgba(255,255,255,0.08);

  transition: width 0.3s ease;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

a {
  color: #d1d5db;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 10px;
  transition: all 0.2s ease;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 12px;
}

.sidebar:not(.collapsed) a:hover {
  background: #2563eb;
  color: white;
  transform: translateX(4px);
}

.sidebar.collapsed a:hover {
  background: #2563eb;
  color: white;
}

i {
  font-size: 1.1rem;
  min-width: 24px;
}

.active-link {
  background: #2563eb !important;
  color: white !important;
}

.active-link i {
  color: white !important;
}

.collapse-btn {
  width: 100%;
  border: none;
  background: #374151;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

.bottom-user {
  border-top: 1px solid rgba(255,255,255,0.08);
  padding-top: 15px;
  margin-top: auto;

  overflow: hidden;
}

.user-name {
  font-weight: 600;
  color: white;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-role {
  font-size: 0.85rem;
  color: #9ca3af;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* COLLAPSED */

.sidebar.collapsed {
  width: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar.collapsed .menu-text {
  display: none;
}

.sidebar.collapsed a {
  justify-content: center;
  padding: 14px 0;
}

.sidebar.collapsed .logo {
  font-size: 1rem;
}

.sidebar.collapsed .bottom-user {
  display: none;
}